@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root{
    --font-Bebas: 'Bebas Neue', cursive;
    --font-monserrat: 'Montserrat', sans-serif;
}
body {
   
    font-family:var(--font-monserrat);

}
/* ---prelaoder--- */
.loader {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: aliceblue;
    z-index: 9000;
 }
 
 .spinner {
    width: 44.8px;
    height: 44.8px;
    animation: spinner-y0fdc1 2s infinite ease;
    transform-style: preserve-3d;
 }
 
 .spinner>div {
    background-color: rgba(255, 71, 74, 0.2);
    height: 100%;
    position: absolute;
    width: 100%;
    border: 2.2px solid #ff474a;
 }
 
 .spinner div:nth-of-type(1) {
    transform: translateZ(-22.4px) rotateY(180deg);
 }
 
 .spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
 }
 
 .spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
 }
 
 .spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
 }
 
 .spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
 }
 
 .spinner div:nth-of-type(6) {
    transform: translateZ(22.4px);
 }
 
 @keyframes spinner-y0fdc1 {
    0% {
       transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }
 
    50% {
       transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }
 
    100% {
       transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
 }
/* preloader ends------ */


.container-fluid {
    background: url("images/bg1.png");
    /* background-color: black; */
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .7);
    /* clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 100%, 50% 92%, 33% 94%, 0 100%, 0% 43%, 0 0); */
    /* clip-path: polygon(0% 0%, 0% 77%, 21% 72%, 43% 69%, 68% 69%, 88% 72%, 100% 75%, 100% 0%); */
}
.logo a{
    font-size: 2rem;
    color: white;
}

.container {
    width: 80%;
    margin: 0 auto;
}
nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav .container {
    display: flex;
    justify-content: space-between;
    padding: 30px 16px;
}

/* navbar items  */
.navbar-nav {
    display: flex;
}

.nav-link {
    font-size: .8rem;
    padding: 1rem;
    align-content: space-around;
    color: white;
    position: relative;
    text-transform: uppercase;

}

.nav-link::before {
    content: "";
    height: 2px;
    width: 80%;
    position: absolute;
    background-color: white;
    top: 90%;
    right: 10%;
    transition: .44s;
    opacity: 0;
}
.active::after{
    content: "";
    height: 2px;
    width: 80%;
    position: absolute;
    background-color: white;
    top: 80%;
    right: 10%;
    transition: .44s;
}
.nav-link:hover::before {
    width: 80%;
    top: 80%;
    opacity: 1;
}
/* navbar ends */
/* Home section starts */
#home{
   position: absolute;
   top: 50%;

   
}
.greeting{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 4px;
    color: white;
}
.greeting1{
    font-size: 70px;
    color: white;
    text-transform: uppercase;
    
}
/* home ends */
/* about me starts---------- */
#about{
    height: 80vh;
    clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 100%, 50% 92%, 33% 94%, 0 100%, 0% 43%, 0 0);
    /* margin-bottom: -9rem; */
    /* position: relative; */
    background-color: white;
    padding-top: 2rem;

}
.container .profile-picture img{
    width: 400px;
    height:auto;
    object-fit: cover;
    aspect-ratio: 553/643;
    box-shadow: 15px 15px 0 1px gray;

}
#about .container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 5rem;
    margin-top: 1rem;
    height: 80vh;
}
.content{
    color: black;
    text-transform: capitalize;

}
.content p{
    width: 90%;
    margin-top: 2rem;
    line-height: 2.5rem;
}
.content h3{
    display: inline-block;

}
.content .social{
    margin-top: 2rem;
}
.content span i{
 font-size: 1.3rem;
 padding: .8rem;
 transition: .4s;
}
.content span i:hover{
    color: turquoise;
}
/* about me ends here-------- */
/* services start here----------------- */
.title{
    font-size: 2rem;
    text-align: center;
    position: relative;
}
/* universal title */
.title::after{
    content: "";
    position: absolute;
    width: 197px;
    height: 3px;
    right: 0;
    left: 42%;
    bottom: 0;
    background-color: black;
}
#services{
    height:80vh;
    background-color: rgba(156, 159, 161, 0.288);
  /* margin-bottom: -4rem; */
  clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 100%, 50% 92%, 33% 94%, 0 100%, 0% 43%, 0 0);


}
#services .cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}
#services .container h2{
    padding-top: 2rem;
}
.card{
    margin-top: 4rem;
    padding: 2rem;
    height: 20rem;
    text-align: center;
    background-color: white;
    transition: .4s;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);

}
.card i{
    font-size: 1.7rem;
    padding: 1.5rem;
    margin-bottom: 1rem;
    background-color:  rgba(156, 159, 161, 0.288);
    border-radius: 50%;
    transition: .5s;
}
.card:hover > i {
    background-color:black;
    color: white;
}
.card .card-body h1{
    margin-bottom: 1rem;
}
.card:hover{
    transform: scale(1.1);
}
/* services ends here--- */

/* portfolio start here---- */
#portfolio{
    height: 80vh;
    
}
#portfolio .title{
    /* padding-top: 12rem; */
}
#portfolio .section-titles ul{
    display: flex;
    justify-content:center;
    margin-top: 2rem;
}
#portfolio .section-titles ul li{
    padding: 2rem;
    font-size: 1.1rem;
    font-weight: 500;
    color: gray;
}
#portfolio .section-titles ul li:hover{
    color: black;
}
#portfolio .section-titles ul li:nth-child(1){
    font-weight: bold;
    color: black;
}
#portfolio .items .item img{
    width:100%;
}
#portfolio .items{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 2rem;
    overflow: hidden;
    
}
#portfolio .item{
    overflow: hidden;

    transition: .5s;
    background: rgba(0, 0, 0, 0.07);
}
#portfolio .item img{
    transition: .5s;
}
#portfolio .item img:hover{
    transform: scale(1.2);
}
/* copyright starts herer--------
 */
 #copyright{
    height: 50vh;
    background-color: black;
    margin-top: 500px;
    display: flex;
    color:white;
    justify-content: center;
    align-items: center;
    text-align: center;
 }
 #copyright h1{
    font-size: 50px;
    font-weight: bolder;
 }
 #copyright .social{
    margin-top: 1rem;
 }
 #copyright .social i{
    font-size: 1.3rem;
    height: 42px;
    width: 42px;
    background-color: gray;
    padding: .7rem;
    transition: .5s;
 }
 #copyright .social i:hover{
    background-color: white;
    color: black;
 }
 #copyright  p{
    margin-top: .9rem;
 }